<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Prediction</title>
</head>
<body>
    <h1>Emotion Prediction</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="audio" accept=".wav">
        <button type="submit">Predict</button>
    </form>
    <div id="predictionResult"></div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('predictionResult').innerText = 'Predicted Emotion: ' + data.predicted_emotion;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
