@font-face {
  font-family: 'DM Serif Text';
  src: url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Serif Text';
  src: url('/fonts/DMSerifDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Regular.ttf') format('woff2');
  font-weight: bold;
  font-style: normal;
}